<h1>Find a Flight Today</h1>
<div class="search white-and-bordered">
  <%= render 'flight_search' %>
</div>
<div class="spacer">
</div>
<div class='results white-and-bordered'>
  <%= render 'flight_search_results' %>
</div>
