<h1>Booking Confirmation</h1>

<div class="white-and-bordered">
  <p>
	The flight has been booked for passengers:
  </p>

  <% @booking.passengers.each do |p| %>
    <li>
      <%= p.name %>
      <%= p.email %>
    </li>
  <% end %>
 
</div>
