<header class="white-and-bordered">
	<div class="container-fluid">
		<div class="form-group">
		<div class="pull-left"><%= yield :title %></div>			  
		  <span class="pull-right">			
	        
	      
			
		  </span>
		</div>
    </div>
</header>